name: SBOM + Vulnerability Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  sbom-security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Install PowerShell
        run: |
          sudo apt-get update
          sudo apt-get install -y powershell

      - name: Build UMS Docker image
        run: |
          docker build -t ums-cpp-app:1.0 .

      - name: Generate SBOM with Syft (CycloneDX)
        run: |
          docker run --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            anchore/syft:latest ums-cpp-app:1.0 \
            -o cyclonedx-json > sbom-cyclonedx.json

      - name: Enrich SBOM with custom metadata
        shell: pwsh
        run: |
          ./merge-sbom.ps1 `
            -InputSbom sbom-cyclonedx.json `
